body {
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-size: 62.5%;
	/* background: url(images/background.png); */
	color: white;
}

#logo_container {
	text-align: center;
}

#logo {
	margin: 10px;
}

#tabs {
	width: 531px;
	margin: auto;
}

/* Coin Type: */
#coin_type_input {
	margin: 5 0 5 0;
	padding: 5;
	border: 1px dashed;
}

#coin_type_label {
	font-weight: bold;
}

#coin_type_value {
	border: 1px dashed black;
	color: #F6931F;
	font-weight: bold;
	width: 408px;
}

/* Address: */
#address_input {
	margin: 5 0 5 0;
	padding: 5;
	border: 1px dashed;
}

#address_label {
	font-weight: bold;
}

#address_value {
	border: 1px dashed black;
	color: #F6931F;
	font-weight: bold;
	width: 400px;
}


/* Scale: */
#scale_input {
	margin: 5 0 5 0;
	padding: 5;
	border: 1px dashed;
}

#scale_label {
	font-weight: bold;
}

#scale_value {
	border: 0px;
	color: #F6931F;
	background: none;
	font-weight: bold;
	width: 60px;
}

#scale_slider {
	display: inline-block;
	width: 359px;
}

/* Style Image: */
#style_image_input {
	margin: 5 0 5 0;
	padding: 5;
	border: 1px dashed;
}

#style_image_label {
	font-weight: bold;
}

.style_image {
	height: 28px;
	vertical-align: middle;
}

/* Style Image Scale: */
#style_image_scale_input {
	margin: 5 0 5 0;
	padding: 5;
	border: 1px dashed;
}

#style_image_scale_label {
	font-weight: bold;
}

#style_image_scale_value {
	border: 0px;
	color: #F6931F;
	background: none;
	font-weight: bold;
	width: 60px;
}

#style_image_scale_slider {
	display: inline-block;
	width: 352px;
}